.header {
  height: 255px;
  padding: 30px;
  text-align: center;
}

.centerlogo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

body {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  float: none;
  padding: 3px;
}

h1 {
 font-family: "Helvetica", sans-serif;
  font-size: 26px;
  font-weight:bold;
  text-align: center;
  margin-bottom: 0.0em;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 2.0em;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-top: 2.0em;
}

h4 {
  font-family: "Helvetica", sans-serif;
  text-decoration: underline;
  font-weight:normal
  font-size: 16px;
  text-align: left;
  margin-bottom: 0.4em;

}

p{
 text-align: left;
 font-family: "Georgia", Georgia, serif;
 font-size: 16px;
line-height: 150%;
}

ul{
  text-align: left;
  font-family: "Georgia", Georgia, serif;
  font-size: 16px;
 line-height: 150%;
}


p.small{
  font-size: 13px;
  margin-top: 0.5em;
}


p.center {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #001EDE;
}

a:visited {
  text-decoration: none;
  color: #001EDE ;
}

a:hover {
  text-decoration: none;
  background: #001EDE;
  color: #FFFFFF;
}

a:active {
  text-decoration: none;
  color: #4169E1;
}

tab {
  padding-left: 2em;
}

a.prev,.next:hover {
  color: #5c5c5c;
}

.headerimage {
  display: block;
  margin:  auto;
  width: 100%;
}

div.image-gallery {
  display: block;
  float: center;
}

div.image-gallery img {
  display: inline-block;
  text-align: center;
}

.clear {
  clear: both;
  height: 0;
  width: 0;
  font-size: 1px;
  line-height: 0;
}

mark {
    background-color: #DAF7A6;
    color: black;
}
